#navbar-wrapper {
  background-color: #1D202B;
  height: 139px;
  
}

#navbar-wrapper .button-home {
  background-color: #1D202B;
  border-radius: 30px;
  padding: -20px 10px;  
}

#navbar-wrapper .buttons, #navbar-wrapper .last-button {
  background-color: #1D202B;
  border: #1D202B;
}

@media(max-width: 991px) {

  .options {
    max-width: 68px;
  }
}

@media( min-width: 991px ){

  .buttons {
    margin-left: 32px;
  }
}
@media(max-width: 435px) {
  .weather-app {
    display: none;
  }
}

.website-name {
  left: 5rem;
  margin: 45.5px auto;
  position: absolute;
  width: 215px;
}

.weather-app {
  float: right;
  height: 100%;
  width: 140px;
}

.weather-app p {
  font-size: 13px;
}

.weather-icon-nav {
  float: left;
  height: 100%;
  width: 40px;
}

.options {
  margin-top: 45px;
  position: absolute;
  right: 3rem;
  width: 470px;
}