.forecast-wrapper {
  height: 285px;
  width: 1147px;
  border-collapse: collapse;
  border-radius: 10px;
  color: #fff;
  justify-content: center;
  position: relative;
}

.temp-now {
  font-size: 100px;
}

.today-icon {
  
}

.forecast-wrapper .column:nth-of-type(2n+1) .row-top {
  background-color: #2D303D;
  height: 46px;
}

.forecast-wrapper .column:nth-of-type(2n+1) .row-bottom-next-days {
  background-color: #323544;
  height: 239px;
}

.forecast-wrapper .row-bottom {
  background-color: #323544;
  height: 239px;
  padding: 20px

}

.forecast-wrapper .column:nth-of-type(2n) .row-top {
  background-color: #232531;
  height: 46px;
}

.forecast-wrapper .column:nth-of-type(2n) .row-bottom-next-days {
  background-color: #262936;
  height: 239px;
}


.forecast-wrapper .column:nth-child(1) {
  width: 420px;
}

.forecast-wrapper .column {
  width: 120px;
}

.row-top {  
  text-align: center;
  padding-top: 15px;
  font-size: 16px;
  
}

.row-bottom-next-days {
  padding-top: 100px;
  padding-left: 20px;
}

.row-bottom-next-days strong {
  font-size: 20px;
  
}


.row-bottom > h1 {
  font-size: 80px;
  font-weight: bold;
  
  
}


.row.forecast-days {
  top: -150px;
  position: absolute;
 
}


.weather-icon {
  color: #24B4DA;
}

