/* CCS Flexbox */

.forecast-container {
  width: 100%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  color: #FFF;
  justify-content: center;
  position: relative;
  top: -142.5px;
  
}


.forecast-container .item-day:first-child {
  width: 532px;
  height: 285px;
}


.row-bottom {
  padding: 10px;
}


.forecast-container .item-day {
  width: 152px;
  height: 285px;
}


.table-top {
  height: 46px;
  text-align: center;
  padding-top: 8px;
  font-size: 20px;
}


.table-buttom {
  height: 239px;
}


.forecast-container .item-day:nth-of-type(2n+1) .table-top {
background-color: #2D303D;
}


.forecast-container .item-day:nth-of-type(2n) .table-top {
  background-color: #232531;
}


.forecast-container .item-day:nth-of-type(2n+1) .table-buttom {
  background-color: #323544;
}


.forecast-container .item-day:nth-of-type(2n) .table-buttom {
  background-color: #262936;
}


.temp-now {
  font-size: 86px;
  font-weight: bold;
}


.icon-now {
  float: right;
  height: 100px;
  width: 190px;
  margin: 0 auto;
}


.data-now {
  float: left;
  width: 100%;
  font-size: 9px;
  height: 70px;
}


.weather-icon {
  color: #24B4DA;
}


.temps {
  margin-top: 14px;
}


.temps strong {
  font-size: 24px;
}


.item-day .boxes-next-item-day {
  width: 56px;
  height: 100%;
  padding-top: 50px;
  margin: 0 auto;
}