/* CCS Flexbox */

.forecast-container {
  align-content: flex-start;
  color: #FFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: -75px;
  width: 100%;
}


.forecast-container .item-day:first-child {
  height: 285px;
  width: 532px;
}


.row-bottom {
  padding-top: 10px;
  width: 100px;
}


.forecast-container .item-day {
  height: 285px;
  width: 152px;
}


.table-top {
  font-size: 20px;
  height: 46px;
  padding-top: 8px;
  text-align: center;
}


.table-buttom {
  height: 239px;
  padding-left: 10px;
}


.forecast-container .item-day:nth-of-type(2n+1) .table-top {
  background-color: #2D303D;
}

.forecast-container .item-day:nth-of-type(2n) .table-top {
  background-color: #232531;
}

.forecast-container .item-day:nth-of-type(2n+1) .table-buttom {
  background-color: #323544;
}

.forecast-container .item-day:nth-of-type(2n) .table-buttom {
  background-color: #262936;
}

.temp-now {
  font-size: 64px;
  font-weight: bold;
  height: 86px;
  width: 50%;
}

.weather-now {
  float: left;
  height: 180px;
  margin: 0 auto;
  width: 100%;
}

.today-others {
  float: left;
  height: 100px;
  width: 200px;
}

.today-icon {
  float: left;
  height: 60%;
  width: 50%;
}

.weather-icon {
  color: #24B4DA;
}

.temps {
  margin-top: 14px;
}

.temps strong {
  font-size: 24px;
}

.item-day .boxes-next-item-day {
  height: 100%;
  margin: 0 auto;
  padding-top: 50px;
  width: 56px;
}