#navbar-wrapper {
  height: 139px;
  background-color: #1D202B;
  
}

#navbar-wrapper .button-home {
  background-color: #1D202B;
  border-radius: 30px;
  padding: -20px 10px;  
}

#navbar-wrapper .buttons {
  background-color: #1D202B;
  border: #1D202B;
}

.website-name {
  margin: 30px auto;
  width: 260px;
  position: absolute;
  right: 1240px;
}

@media (max-width: 75em) {
  .website-name {
    left: 200px;
  }

  .options {
  right: 200px;
  }

}

@media (max-width: 64em) {
  .website-name {
    left: 200px;
  }

  .options {
  right: 200px;
  }

}

@media (max-width: 48em) {
  .website-name {
    left: 150px;
  }

  .options {
  right: 150px;
  }

}

@media (max-width: 37.5em) {
  .website-name {
    left: 100px;
  }

  .options {
  right: 100px;
  }

}

@media (max-width: 30em) {
  .website-name {
    left: 50px;
  }

  .options {
  right: 50px;
  }

}

@media (max-width: 20em) {
  .website-name {
    left: 25px;
  }

  .options {
  right: 35px;
  }

}

.weather-app {
  float: left;
  height: 100%;
  width: 49%;
}

.weather-icon-app {
  float: left;
  width: 10%;
  height: 100%;
  margin: 50px;
}

.options {
  margin: 42px auto;
  position: absolute;
}
