#navbar-wrapper {
  height: 139px;
  background-color: #1D202B;
  
}


#navbar-wrapper .button-home {
  background-color: #1D202B;
  border-radius: 30px;
  padding: -20px 10px;  
}


#navbar-wrapper .buttons {
  background-color: #1D202B;
  border: #1D202B;
}


.website-name {
  margin: 30px auto;
  width: 260px;
  position: absolute;
  left: 5em;
}


.weather-app {
  float: left;
  height: 100%;
  width: 49%;
}


.weather-icon-app {
  float: left;
  width: 10%;
  height: 100%;
  margin: 50px;
}


.options {
  display: flex;
  margin-top: 45px;
  position: absolute;
  right: 5em;
}