.news-wrapper {
  padding-top: 100px;
  margin: 0 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr) minmax(180px, 2fr));
  color: white;
}


.news {
  text-align: left;
}


.news h5 {
  font-size: 14px;
  font-weight: bold;
}


.news p {
  font-size: 14px;
}


.date {
  font-size: 30px;
  margin: 0 auto;
  margin-top: -6px;
  color: #009AD8;
}