.footer-wrapper {
  width: 100%;
  height: 120px;
  margin-left: 10%;

}

.display-email {
  float: left;
  height: 56px;
  border-radius: 100px;
  background-color: #1D202B;

}

.display-email:focus {
  color: #495057;
  background-color: #1D202B;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.button-email {
  float: left;
  height: 46px;
  margin-top: 5px;
  margin-left: -102.16px; 
  right: 1px;
  border-radius: 100px;
  
}
