.footer-wrapper {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  min-height: 300px;
  padding-top: 100px;
  width: 85%;
}

.copyright {
  height: 50px;
  width: 300px;
}

.social-icons {
  height: 50px; 
  width: 140px;
}