#app {
  font-family: sans-serif;
  background-color: #585B6D;  
}


.container.pos {
  justify-content: center;
  position: relative;
}


#find {
  border: 1px solid red;
  margin-left: 100px;
}


#table {
  position: absolute;
}


#background-top {
  background-color: #585B6D;
  height: 350px;
}


#background-center {
  background-color: #1D202B;
  height: 685.5px;
}


@media (max-width: 1100px) {
  #background-center {
    height: 1205.78px;
  }  
}


@media (max-width: 767px) {
  #background-center {
    height: 1961.34px;
  }  
}


#background-bottom {
  background-color: #262936;
  height: 486px;
}