.App {
  
  width: 1547;
  height: 1200px;
  
  
}

#navbar-web {
  
  
}

.container.pos {
  justify-content: center;
  position: relative;
}

#find {
  position: absolute;
}

#table {
  
  position: absolute;
}


#background-top {
  background-color: #585B6D;
}

#background-center {
  background-color: #1D202B;
  

}

#background-bottom {
  background-color: #262936;
  
  
}