#app {
  background-color: #585B6D;  
  font-family: sans-serif;
}

.container.pos {
  justify-content: center;
  position: relative;
}

#find {
  border: 1px solid red;
  margin-left: 100px;
}

#table {
  position: absolute;
}

#background-top {
  background-color: #585B6D;
  height: 350px;
}

#background-center {
  background-color: #1D202B;
}

#background-bottom, #footer-web {
  background-color: #262936;
  height: 420px;
}

@media(max-width: 894px) {

  #background-bottom {
    height: 716px;
  }
}

@media(max-width: 555px) {

  #background-bottom {
    height: 1016px;
  }
}