.maps-wrapper {
  width: 1027;
  height: 800px;
  color: #FFF
}


@media (max-width: 1100px) {
  .maps-wrapper {
    margin-top: 285px;
  }
  
}


@media (max-width: 767px) {
  .maps-wrapper {
    margin-top: 570px;
  }
  
}

.maps img {
  margin-right: 30px;
}

.maps-title {
  margin-bottom: 30px;
}

.maps-radars {
  background: black;
  margin: 0 48.36px;
}