.maps-wrapper {
  width: 1027;
  margin-left: 380px;
  height: 800px;
}

.maps img {
  margin-right: 30px;
}

.maps-title {
  margin-bottom: 30px;
}

.maps-radars {
  background: black;
  margin: 0 48.36px;
}